%h1 Listing activities

%table
  %tr
    %th Name
    %th Location
    %th Instruction
    %th Price
    %th
    %th
    %th

  - @activities.each do |activity|
    %tr
      %td= activity.name
      %td= activity.location
      %td= activity.instruction
      %td= activity.price
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Activity', new_activity_path
